@import "tailwindcss";

/* * {
  color: #fff;
} */

@layer base {
  body {
    @apply text-[#fff];
  }
}

body {
  background-color: #111;
}

#Tasklist::-webkit-scrollbar {
  background-color: transparent;
  height: 5px;
  width: 0;
}

/* #Tasklist::-webkit-scrollbar-thumb {
  background-color: transparent;
} */
